In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
import pymysql

In [2]:
df_combined = pd.read_csv('df_combined.csv')

In [3]:
df_combined

,date,price_bitcoin,price_gold,price_sp500,change_bitcoin,change_gold,vix,interest_rate,cpi,inflation
0,2015-01-02,315,1186,2058,0.10,0.18,17.79,0.01,234.82,0.76
1,2015-01-05,275,1204,2021,3.82,1.50,19.92,0.00,234.84,0.76
2,2015-01-06,282,1219,2003,2.70,1.28,21.12,0.02,234.84,0.76
3,2015-01-07,291,1211,2026,3.21,-0.71,19.31,0.02,234.84,0.76
4,2015-01-08,283,1208,2062,-2.97,-0.18,17.01,0.02,234.85,0.76
...,...,...,...,...,...,...,...,...,...,...
2288,2024-02-05,42697,2043,4943,0.27,-0.53,13.67,5.23,307.54,3.35
2289,2024-02-06,43088,2051,4954,0.91,0.42,13.06,5.22,307.56,3.35
2290,2024-02-07,44340,2052,4995,2.91,0.01,12.83,5.22,307.58,3.35
2291,2024-02-08,45293,2048,4998,2.15,-0.19,12.79,5.22,307.60,3.35
2292,2024-02-09,47545,2039,5027,4.97,-0.45,12.93,5.22,307.63,3.35

In [4]:
# Conexión a la base de datos
bd = "financial_analysis"
password = "123456"  # Tu contraseña
connection_string = 'mysql+pymysql://root:' + password + '@localhost/' + bd
engine = create_engine(connection_string)

# Leer el archivo CSV
df_combined = pd.read_csv('df_combined.csv')

# Dividir el DataFrame en tres partes
dates_df = df_combined[['date']].drop_duplicates()  # Evitar fechas duplicadas
assets_df = df_combined[['price_bitcoin', 'price_gold', 'price_sp500', 'change_bitcoin', 'change_gold']]
economic_factors_df = df_combined[['vix', 'interest_rate', 'cpi', 'inflation']]

# Enviar los datos a MySQL
dates_df.to_sql('dates', con=engine, if_exists='append', index=False)
assets_df.to_sql('assets', con=engine, if_exists='append', index=False)
economic_factors_df.to_sql('economic_factors', con=engine, if_exists='append', index=False)

2293